<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Welcome to <%= title %></h3>
    <p>
        This is the enhancement Joel Meza has created for Milestone Four of CS499's Final Project. This enhancement took a csv file that contained his
        book collection, imported it into a new MongoDB, and then created this interface for users to interact with. This interface is the first one Joel has created
        using javascript and html. 
    </p>
    <p>
        Click the following link to access Joel Meza's <a href="/booklist">booklist</a>. This is a simple interface that pulls data from MongoDB 
        and displays it on your screen. 
    </p>    
        
    <p>
        Click the following link to access the <a href="/newbook">add book</a> screen. This screen will allow you to input the information that adds books 
        to the database.
    </p>
  </body>
</html>